@font-face {
    font-family: ProximaNova;
    src:  local(ProximaNova-Bold);
    font-weight:600;
}
@font-face {
    font-family: ProximaNovaReg;
    src:  local(ProximaNova-Regular);
    font-weight: 200;
}
@font-face {
    font-family: ProximaNovaCondReg;
    src:  local( ProximaNovaCond-Semibold);
}
@font-face {
    font-family: ProximaNovaCondLight;
    src:  local(ProximaNovaCond-Light);
}


.ui-body-c {
    //background-color: yellow;
}
.ui-body-c .giftWrap {
    min-height: 508px; 
	border: 1px solid #B3B3B3 /*{c-body-border}*/;
	color: #222 /*{c-body-color}*/;
	text-shadow: none;
}
.giftWrap  h2 {
    font-family: ProximaNova, sans-serif;
    text-align: center;
    font-size: 22px;
    letter-spacing: 10px;
    line-height: 20px;
    text-shadow: 1px  1px 1px yellow; /* rgb(88,191,60) */
    margin-top: 10px;
    color: #fff;
    padding-bottom: 0px;
}
.giftWrap  h4 {
    font-family: ProximaNovaReg, sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: none;
    line-height: 16px;
    color: #444;
    padding-top: 12px;
    margin-top:  0px;
    margin-bottom: 20px;
   /*  border-top:  rgb(158,200,160) solid 1px; */
}
.giftWrap label {
    color: #ddd;
    clear: both;
    display: block;
}
.giftWrap  input text {
    margin-bottom: 
}
.giftWrap  canvas {
    margin-bottom: 10px;
}
/*
.giftWrap #imageizer, .giftWrap #textfind {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: -15px;
}
*/
.ui-body-c .welcomeStyle {
    background:  #fff;	/* #FFFEEE */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #FFFEEE, #FFFEEE); 
	background-image: -ms-linear-gradient(top, #FFFEEE, #FFFEEE);
	background-image: -o-linear-gradient(top, #FFFEEE #FFFEEE); 
	background-image: linear-gradient(top, #FFFEEE, #FFFEEE);
}
.ui-body-c .centerList {
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -180px;
}
.ui-body-c .welcomeStyle h4 {
    margin-top: 68px;
    width: 350px;
}
.ui-body-c .welcomeStyle ul {
    list-style: none;
    margin-top: 40px;
    list-style-position: outside;
}
.ui-body-c .welcomeStyle ul li {
    float: left;
    padding: 3px 6px;
    margin-right: 4px;
    color: #fff;
    font-family: ProximaNova, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
    text-shadow: 1px  1px 1px #FFF; /* rgb(88,191,60) */
}
.ui-body-c .welcomeStyle ul .titleLetter {
    background-color: fuchsia;
}

 .welcomeStyle #upSlides {
    margin-top: -420px;
    margin-right: auto;
    margin-left: -150px;
    width: 600px;
    height: 600px;
    overflow: hidden;
 }
.welcomeStyle #upSlides img{
    background-color: white;
    margin-right: 20px;
}
 .welcomeStyle #downSlides {
    margin-top: 60px;
    margin-right: auto;
    margin-left: -150px;
    width: 600px;
    height: 600px;
    overflow: hidden;
 }
.welcomeStyle #downSlides img{
    background-color: white;
    margin-right: 20px;
}
.welcomeStyle input {
    background-color: yellow;
    height: 240px;
 }
 
 
 .ui-body-c .secondStyle {
    background:  #000;	/* #FFFEEE */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
	background-image: -webkit-linear-gradient(top, #000, #000);
	background-image: -moz-linear-gradient(top, #FFFEEE, #FFFEEE); 
	background-image: -ms-linear-gradient(top, #FFFEEE, #FFFEEE);
	background-image: -o-linear-gradient(top, #FFFEEE #FFFEEE); 
	background-image: linear-gradient(top, #FFFEEE, #FFFEEE);
}
.ui-body-c .secondStyle  h2 {
    color: #fff !important;
    text-shadow: 1px  1px 1px #fff; /* rgb(88,191,60) */
}
.ui-body-c .secondStyle  p {
    color: #ccc !important;
    text-align: left;
    font-size: 16px;
    font-family: ProximaNovaCondReg;
    line-height: 22px;
    letter-spacing: 1px;
}
.ui-body-c .secondStyle  p span {
    color: fuchsia;
}
.ui-body-c .secondStyle #interpText {
    width: 310px;
}
.ui-body-c .secondStyle #tcounter {
    color: #aaa;
    font-size: 11px;
    padding: 4px 0px 8px;
}
.ui-body-c .secondStyle img {
    margin-left: auto;
    margin-right: auto;
}
#setKey #keyset {
    margin-bottom: 40px;
    margin-top: 40px;
}

/* /////////////////////////////////////////////////// */
.ui-btn-up-c {
	/* border: 1px solid #ccc ; */
	border:none;
	background:#444;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: ProximaNova;
	/* text-transform: uppercase; */
	color: #FFF;
	text-shadow: 0 1px 1px #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4D4D ), to(#444));
	background-image: -webkit-linear-gradient(top, #4D4D4D /*{c-bup-background-start}*/, #shadow /*{c-bup-background-end}*/); /
    background-image: -moz-linear-gradient(top, #fdfdfd /*{c-bup-background-start}*/, #eee /*{c-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient(top, #fdfdfd /*{c-bup-background-start}*/, #eee /*{c-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient(top, #fdfdfd /*{c-bup-background-start}*/, #eee /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient(top, #fdfdfd /*{c-bup-background-start}*/, #eee /*{c-bup-background-end}*/);
/*
	float: left;
	margin-left: auto;
	margin-right: auto;
*/
}

.ui-btn-hover-c {
	/* border: 1px solid #bbbbbb ; */
	border:none;
	background:#444;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: ProximaNova;
	/* text-transform: uppercase; */
	color: #ddd;
	text-shadow: 0 1px 1px #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed /*{c-bhover-background-start}*/), to(#dadada /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #3D3D3D /*{c-bhover-background-start}*/, #444 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/);
}